/* .payment-popup{
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    padding: 30px;
    z-index: 1000;
    width: 100vh;
    height: 70vh;
}

.payment-popup-background{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1000;

} */

#des{
    margin-left: 0;
    height: 90px;
    overflow: hidden;
    width: 90vh;
}

.payment-information h2{
    color: darkblue;
    text-align: center;
    width: 100%;
}


@media only screen and(max-width: 430px){
    #des{
        width: 50px;
    }
}