.rabocard{
    margin-top: 15vh;
    width: 90%;
    padding: 3%;
    border-radius: 10px;
    background-image: url(../images//card-background.png);
    background-size: cover;
    background-position: 50% 40%;
    height: 23vh;
    color: white;
}

.rabocard-details{
    margin-top: 11vh;
}

.rabocard-details p{
    margin-top: 2%;
}
/* 
.rabocard-balance{
    margin-left: 5vh;
} */

@media only screen and (max-width: 430px){
    .rabocard-details{
        font-size: 26px;
    }

    .rabocard{
        margin-left: 5%;
    }
    
}